.elements {
  margin: 51px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2,1fr);
  row-gap: 20px;
  column-gap: 17px;
}

@media (max-width: 1024px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: fit-content;
  }
}

@media (max-width: 680px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin-top: 36px;
  }
}