.popup__close {
  position: absolute;
  right: -35px;
  top: -35px;
  background-image: url(../../../images/Close.svg);
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}